In [139]:
import pandas as pd
import numpy as np

# Add in coffee data

In [140]:
arabica_df = pd.read_csv('data/arabica_ratings_raw.csv')
robusta_df = pd.read_csv('data/robusta_ratings_raw.csv')

In [141]:
print(arabica_df.shape)
print(robusta_df.shape)

(1312, 53)
(28, 51)

In [142]:
arabica_df.columns

Index(['Unnamed: 0', 'quality_score', 'view_certificate_1',
       'view_certificate_2', 'Cupping Protocol and Descriptors',
       'View Green Analysis Details', 'Request a Sample', 'Species', 'Owner',
       'Country of Origin', 'Farm Name', 'Lot Number', 'Mill', 'ICO Number',
       'Company', 'Altitude', 'Region', 'Producer', 'Number of Bags',
       'Bag Weight', 'In-Country Partner', 'Harvest Year', 'Grading Date',
       'Owner.1', 'Variety', 'Status', 'Processing Method', 'NA', 'Aroma',
       'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance', 'NA.1',
       'Uniformity', 'Clean Cup', 'Sweetness', 'Cupper Points',
       'Total Cup Points', 'NA.2', 'Moisture', 'Category One Defects',
       'Quakers', 'Color', 'Category Two Defects', 'NA.3', 'Expiration',
       'Certification Body', 'Certification Address', 'Certification Contact',
       'Unnamed: 51', 'Notes'],
      dtype='object')

In [143]:
robusta_df.columns

Index(['Unnamed: 0', 'quality_score', 'view_certificate_1',
       'view_certificate_2', 'Cupping Protocol and Descriptors',
       'View Green Analysis Details', 'Request a Sample', 'Species', 'Owner',
       'Country of Origin', 'Farm Name', 'Lot Number', 'Mill', 'ICO Number',
       'Company', 'Altitude', 'Region', 'Producer', 'Number of Bags',
       'Bag Weight', 'In-Country Partner', 'Harvest Year', 'Grading Date',
       'Owner.1', 'Variety', 'Status', 'Processing Method', 'NA',
       'Fragrance / Aroma', 'Flavor', 'Aftertaste', 'Salt / Acid',
       'Bitter / Sweet', 'Mouthfeel', 'NA.1', 'Uniform Cup', 'Clean Cup',
       'Balance', 'Cupper Points', 'Total Cup Points', 'NA.2', 'Moisture',
       'Category One Defects', 'Quakers', 'Color', 'Category Two Defects',
       'NA.3', 'Expiration', 'Certification Body', 'Certification Address',
       'Certification Contact'],
      dtype='object')

In [144]:
arabica_df.head()

,Unnamed: 0,quality_score,view_certificate_1,view_certificate_2,Cupping Protocol and Descriptors,View Green Analysis Details,Request a Sample,Species,Owner,Country of Origin,...,Quakers,Color,Category Two Defects,NA.3,Expiration,Certification Body,Certification Address,Certification Contact,Unnamed: 51,Notes
0,0,90.58,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,0.0,Green,0 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN
1,1,89.92,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,0.0,Green,1 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN
2,2,89.75,NaN,NaN,NaN,NaN,NaN,Arabica,Grounds for Health Admin,Guatemala,...,0.0,NaN,0 full defects,NaN,"May 31st, 2011",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100,NaN,NaN
3,3,89.00,NaN,NaN,NaN,NaN,NaN,Arabica,Yidnekachew Dabessa,Ethiopia,...,0.0,Green,2 full defects,NaN,"March 25th, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN
4,4,88.83,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,0.0,Green,2 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN

In [145]:
arabica_df.index = arabica_df.index.map(str)

In [146]:
arabica_df['Harvest Year'].value_counts()

2012                        352
2014                        226
2013                        170
2015                        125
2016                        122
2017                         68
2013/2014                    29
2015/2016                    28
2011                         26
2014/2015                    19
2017 / 2018                  19
2009/2010                    12
2010                         10
2010-2011                     6
2016 / 2017                   6
4T/10                         4
Mayo a Julio                  3
March 2010                    3
2009-2010                     3
4T/2010                       3
TEST                          2
January 2011                  2
08/09 crop                    2
Abril - Julio                 2
2011/2012                     2
47/2010                       1
1t/2011                       1
2009 - 2010                   1
3T/2011                       1
Sept 2009 - April 2010        1
4t/2010                       1
December 2009-March 2010      1
1T/2011                       1
2009 / 2010                   1
23 July 2010                  1
2016/2017                     1
Fall 2009                     1
May-August                    1
mmm                           1
January Through April         1
2018                          1
4T72010                       1
August to December            1
4t/2011                       1
Abril - Julio /2011           1
Spring 2011 in Colombia.      1
Name: Harvest Year, dtype: int64

In [147]:
len(arabica_df['Country of Origin'].unique())

37

In [148]:
arabica_df['Country of Origin'].value_counts()

Mexico                          236
Colombia                        183
Guatemala                       181
Brazil                          132
Taiwan                           75
United States (Hawaii)           73
Honduras                         53
Costa Rica                       51
Ethiopia                         45
Tanzania, United Republic Of     40
Thailand                         32
Nicaragua                        26
Uganda                           26
Kenya                            25
El Salvador                      21
Indonesia                        20
China                            16
Malawi                           11
Peru                             10
United States                     8
Myanmar                           8
Vietnam                           7
Haiti                             6
Philippines                       5
United States (Puerto Rico)       4
Panama                            4
Laos                              3
Burundi                           2
India                             1
Cote d?Ivoire                     1
Japan                             1
Zambia                            1
Ecuador                           1
Papua New Guinea                  1
Mauritius                         1
Rwanda                            1
Name: Country of Origin, dtype: int64

In [149]:
sum(arabica_df['Grading Date'].value_counts())

1312

In [150]:
arabica_df['year'] = arabica_df['Grading Date'].astype(str).str[-5:].astype(np.int64)

In [151]:
arabica_df['year']

0       2015
1       2015
2       2010
3       2015
4       2015
5       2013
6       2012
7       2010
8       2010
9       2015
10      2015
11      2015
12      2015
13      2010
14      2010
15      2015
16      2010
17      2010
18      2016
19      2015
20      2015
21      2014
22      2012
23      2015
24      2013
25      2011
26      2010
27      2014
28      2017
29      2016
        ...
1282    2012
1283    2012
1284    2012
1285    2013
1286    2014
1287    2013
1288    2012
1289    2012
1290    2012
1291    2012
1292    2015
1293    2014
1294    2014
1295    2014
1296    2014
1297    2011
1298    2015
1299    2012
1300    2012
1301    2014
1302    2017
1303    2014
1304    2014
1305    2014
1306    2012
1307    2012
1308    2017
1309    2012
1310    2010
1311    2017
Name: year, Length: 1312, dtype: int64

In [152]:
arabica_df.head()

,Unnamed: 0,quality_score,view_certificate_1,view_certificate_2,Cupping Protocol and Descriptors,View Green Analysis Details,Request a Sample,Species,Owner,Country of Origin,...,Color,Category Two Defects,NA.3,Expiration,Certification Body,Certification Address,Certification Contact,Unnamed: 51,Notes,year
0,0,90.58,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,Green,0 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN,2015
1,1,89.92,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,Green,1 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN,2015
2,2,89.75,NaN,NaN,NaN,NaN,NaN,Arabica,Grounds for Health Admin,Guatemala,...,NaN,0 full defects,NaN,"May 31st, 2011",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100,NaN,NaN,2010
3,3,89.00,NaN,NaN,NaN,NaN,NaN,Arabica,Yidnekachew Dabessa,Ethiopia,...,Green,2 full defects,NaN,"March 25th, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN,2015
4,4,88.83,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,Green,2 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN,2015

In [153]:
arabica_df['Color'].value_counts()

Green           850
Bluish-Green    112
Blue-Green       82
None             51
Name: Color, dtype: int64

In [154]:
sum(arabica_df['Total Cup Points'].astype(str).str[-5:].astype(np.float) == arabica_df['quality_score'])

1312

In [155]:
arabica_df['year'] = arabica_df['year'].astype(str)

In [156]:
arabica_df = arabica_df.drop(['Unnamed: 0', 'view_certificate_1', 'view_certificate_2', 'Cupping Protocol and Descriptors', 'View Green Analysis Details', 'Request a Sample', 'Grading Date', 'Harvest Year', 'Species', 'Farm Name', 'Lot Number', 'Mill', 'ICO Number', 'Company', 'Producer', 'Number of Bags', 'Bag Weight', 'Owner.1', 'Status', 'NA', 'NA.1', 'Total Cup Points', 'NA.2', 'NA.3', 'Expiration', 'Certification Body', 'Certification Address', 'Certification Contact', 'Unnamed: 51', 'Notes'], axis=1)

In [157]:
arabica_df.head()

,quality_score,Owner,Country of Origin,Altitude,Region,In-Country Partner,Variety,Processing Method,Aroma,Flavor,...,Uniformity,Clean Cup,Sweetness,Cupper Points,Moisture,Category One Defects,Quakers,Color,Category Two Defects,year
0,90.58,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/GOYO,METAD Agricultural Development plc,NaN,Washed / Wet,8.67,8.83,...,10.0,10.0,10.0,8.75,12 %,0 full defects,0.0,Green,0 full defects,2015
1,89.92,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/ALAKA,METAD Agricultural Development plc,Other,Washed / Wet,8.75,8.67,...,10.0,10.0,10.0,8.58,12 %,0 full defects,0.0,Green,1 full defects,2015
2,89.75,Grounds for Health Admin,Guatemala,1600 - 1800 m,NaN,Specialty Coffee Association,Bourbon,NaN,8.42,8.50,...,10.0,10.0,10.0,9.25,0 %,0 full defects,0.0,NaN,0 full defects,2010
3,89.00,Yidnekachew Dabessa,Ethiopia,1800-2200,Oromia,METAD Agricultural Development plc,NaN,Natural / Dry,8.17,8.58,...,10.0,10.0,10.0,8.67,11 %,0 full defects,0.0,Green,2 full defects,2015
4,88.83,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/BISHAN FUGU,METAD Agricultural Development plc,Other,Washed / Wet,8.25,8.50,...,10.0,10.0,10.0,8.58,12 %,0 full defects,0.0,Green,2 full defects,2015

In [158]:
for column in arabica_df.columns:
    print(column, sum(arabica_df.isnull()[column]))

quality_score 0
Owner 7
Country of Origin 1
Altitude 218
Region 56
In-Country Partner 0
Variety 202
Processing Method 153
Aroma 0
Flavor 0
Aftertaste 0
Acidity 0
Body 0
Balance 0
Uniformity 0
Clean Cup 0
Sweetness 0
Cupper Points 0
Moisture 0
Category One Defects 0
Quakers 1
Color 217
Category Two Defects 0
year 0

In [159]:
arabica_df.describe()

,quality_score,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,Quakers
count,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1311.000000
mean,82.086212,7.562614,7.516913,7.396822,7.532614,7.516570,7.516349,9.825899,9.825625,9.895724,7.496723,0.176964
std,3.675542,0.380976,0.402017,0.406202,0.381879,0.361512,0.408316,0.621552,0.817449,0.596925,0.476228,0.840276
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,81.170000,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,0.000000
50%,82.500000,7.580000,7.580000,7.420000,7.500000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,0.000000
75%,83.670000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,0.000000
max,90.580000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,11.000000

# Add in price data

In [160]:
price_df = pd.read_csv('data/growers_prices.csv')

In [161]:
price_df.head()

,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Colombia,69.52,67.13,54.57,50.12,85.99,99.62,93.56,133.17,102.08,...,138.96,180.55,239.68,166.69,113.91,159.71,119.40,123.56,125.76,NaN
1,Kenya,60.57,50.68,28.95,47.64,152.61,140.17,110.04,184.00,179.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tanzania,40.82,49.50,49.16,38.28,62.16,86.76,62.53,118.52,90.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bolivia,51.78,52.42,43.53,27.33,79.92,76.99,57.18,100.07,131.09,...,NaN,NaN,NaN,225.64,201.97,239.25,234.79,271.79,471.62,NaN
4,Burundi,58.02,55.02,59.23,58.27,60.68,56.69,51.97,52.79,52.22,...,85.68,85.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
price_df.shape

(35, 30)

In [163]:
price_df.index = price_df.index.map(str)

In [164]:
price_df.index

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34'],
      dtype='object')

In [165]:
price_df.at['1', 'Calendar years']

'Kenya'

In [166]:
for i in range(0, 35):
    price_df = price_df.rename(index={str(i): price_df.at[str(i), 'Calendar years']})

In [167]:
price_df.index

Index(['Colombia', 'Kenya', 'Tanzania', 'Bolivia', 'Burundi', 'Cameroon',
       'Congo, Dem. Rep. of', 'Costa Rica', 'Cuba', 'Dominican Republic',
       'Ecuador', 'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'India',
       'Jamaica', 'Madagascar', 'Malawi', 'Mexico', 'Nicaragua', 'Panama',
       'Papua New Guinea', 'Peru', 'Rwanda', 'Sri Lanka', 'Uganda', 'Zambia',
       'Angola', 'Brazil', 'Ethiopia', 'Indonesia', 'Philippines', 'Thailand',
       'Vietnam'],
      dtype='object')

In [168]:
price_df.head()

,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Colombia,Colombia,69.52,67.13,54.57,50.12,85.99,99.62,93.56,133.17,102.08,...,138.96,180.55,239.68,166.69,113.91,159.71,119.40,123.56,125.76,NaN
Kenya,Kenya,60.57,50.68,28.95,47.64,152.61,140.17,110.04,184.00,179.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tanzania,Tanzania,40.82,49.50,49.16,38.28,62.16,86.76,62.53,118.52,90.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bolivia,Bolivia,51.78,52.42,43.53,27.33,79.92,76.99,57.18,100.07,131.09,...,NaN,NaN,NaN,225.64,201.97,239.25,234.79,271.79,471.62,NaN
Burundi,Burundi,58.02,55.02,59.23,58.27,60.68,56.69,51.97,52.79,52.22,...,85.68,85.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
price_df.tail()

,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Ethiopia,Ethiopia,61.09,68.19,61.21,61.72,109.55,115.02,67.74,91.06,91.86,...,77.06,85.46,145.46,102.79,73.30,83.24,76.03,87.31,84.38,NaN
Indonesia,Indonesia,NaN,NaN,NaN,115.53,173.51,NaN,NaN,112.26,99.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Philippines,Philippines,NaN,NaN,55.74,54.20,99.62,106.30,76.31,79.74,81.87,...,NaN,NaN,NaN,262.01,NaN,NaN,NaN,NaN,NaN,NaN
Thailand,Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,203.44,113.33,124.58,NaN,NaN,NaN
Vietnam,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,84.47,NaN,NaN,NaN,NaN,NaN,NaN

# Merge price and coffee data

In [170]:
arabica_df.head()

,quality_score,Owner,Country of Origin,Altitude,Region,In-Country Partner,Variety,Processing Method,Aroma,Flavor,...,Uniformity,Clean Cup,Sweetness,Cupper Points,Moisture,Category One Defects,Quakers,Color,Category Two Defects,year
0,90.58,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/GOYO,METAD Agricultural Development plc,NaN,Washed / Wet,8.67,8.83,...,10.0,10.0,10.0,8.75,12 %,0 full defects,0.0,Green,0 full defects,2015
1,89.92,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/ALAKA,METAD Agricultural Development plc,Other,Washed / Wet,8.75,8.67,...,10.0,10.0,10.0,8.58,12 %,0 full defects,0.0,Green,1 full defects,2015
2,89.75,Grounds for Health Admin,Guatemala,1600 - 1800 m,NaN,Specialty Coffee Association,Bourbon,NaN,8.42,8.50,...,10.0,10.0,10.0,9.25,0 %,0 full defects,0.0,NaN,0 full defects,2010
3,89.00,Yidnekachew Dabessa,Ethiopia,1800-2200,Oromia,METAD Agricultural Development plc,NaN,Natural / Dry,8.17,8.58,...,10.0,10.0,10.0,8.67,11 %,0 full defects,0.0,Green,2 full defects,2015
4,88.83,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/BISHAN FUGU,METAD Agricultural Development plc,Other,Washed / Wet,8.25,8.50,...,10.0,10.0,10.0,8.58,12 %,0 full defects,0.0,Green,2 full defects,2015

In [171]:
arabica_df.index

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '1302', '1303', '1304', '1305', '1306', '1307', '1308', '1309', '1310',
       '1311'],
      dtype='object', length=1312)

In [172]:
arabica_df['year'].value_counts()

2012    314
2014    246
2015    195
2013    152
2017    140
2016    123
2011     83
2010     51
2018      6
13        1
17        1
Name: year, dtype: int64

In [131]:
i = 0 
while i < 1312: 
    for row in arabica_df['Country of Origin']:
        if row == 'Ethiopia':
            arabica_df.set_value(str(i), 'Price', price_df.at[row, arabica_df.at[str(i), 'year']])
        i += 1

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

KeyError: '1312'

In [185]:
excluded_countries = ['United States', 'United States (Hawaii)', 'China', 'Taiwan', 'Tanzania, United Republic Of', 'Japan', 'United States (Puerto Rico)', 'Laos', 'Myanmar', 
'Mauritius', 'Cote d?Ivoire']
i = 0 
while i < 1312: 
    for row in arabica_df['Country of Origin']:
        print(row, i)
        if row not in excluded_countries and i != 1197:
            if arabica_df.at[str(i), 'year'] == '13':
                arabica_df.set_value(str(i), 'Price', price_df.at[row, '20'+arabica_df.at[str(i), 'year']])
            elif arabica_df.at[str(i), 'year'] == '17':
                arabica_df.set_value(str(i), 'Price', price_df.at[row, '20'+arabica_df.at[str(i), 'year']])
            else: 
                arabica_df.set_value(str(i), 'Price', price_df.at[row, arabica_df.at[str(i), 'year']])
        i += 1

Ethiopia 0
Ethiopia 1
Guatemala 2
Ethiopia 3
Ethiopia 4
Brazil 5
Peru 6
Ethiopia 7
Ethiopia 8
Ethiopia 9
Ethiopia 10
United States 11
United States 12
United States (Hawaii) 13
Ethiopia 14
United States 15
Indonesia 16
Ethiopia 17
China 18
Ethiopia 19
United States 20
Costa Rica 21
Mexico 22
United States 23
Ethiopia 24
Brazil 25
Ethiopia 26
Uganda 27
Honduras 28
Taiwan 29
Nicaragua 30
Tanzania, United Republic Of 31
Brazil 32
Costa Rica 33
Ethiopia 34
Kenya 35
United States (Hawaii) 36
United States (Hawaii) 37
Ethiopia 38
United States 39
Thailand 40
Brazil 41
Brazil 42
Taiwan 43
Kenya 44
Brazil 45
Uganda 46
Colombia 47
Kenya 48
Uganda 49
Ethiopia 50
United States (Hawaii) 51
Guatemala 52
Uganda 53
Colombia 54
Panama 55
Ethiopia 56
Guatemala 57
Guatemala 58
Ethiopia 59
Peru 60
Papua New Guinea 61
El Salvador 62
El Salvador 63
United States (Hawaii) 64
Panama 65
Kenya 66
Ethiopia 67
Uganda 68
Guatemala 69
Ethiopia 70
Uganda 71
United States (Hawaii) 72
Brazil 73
El Salvador 74
China 75
Guatemala 76
Costa Rica 77
Costa Rica 78
Kenya 79
Kenya 80
Ethiopia 81
Ethiopia 82
Guatemala 83
Colombia 84
Colombia 85
Indonesia 86
Guatemala 87
Ethiopia 88
Colombia 89
Ethiopia 90
United States (Hawaii) 91
Colombia 92
United States (Hawaii) 93
Ethiopia 94
United States (Hawaii) 95
Uganda 96
Colombia 97
Costa Rica 98
Mexico 99
Kenya 100
Kenya 101
Brazil 102
Mexico 103
United States (Hawaii) 104
Guatemala 105
Colombia 106
Colombia 107
Taiwan 108
Tanzania, United Republic Of 109
Colombia 110
Mexico 111
Brazil 112
Brazil 113
Kenya 114
Taiwan 115
Uganda 116
United States (Hawaii) 117
Ethiopia 118
Ethiopia 119
Thailand 120
Kenya 121
Honduras 122
El Salvador 123
Nicaragua 124
El Salvador 125
Indonesia 126
Japan 127
Costa Rica 128
Guatemala 129
Costa Rica 130
Ethiopia 131
Costa Rica 132
Costa Rica 133
Costa Rica 134
Taiwan 135
Colombia 136
Kenya 137
Guatemala 138
Guatemala 139
Mexico 140
Uganda 141
Peru 142
Ethiopia 143
Kenya 144
Colombia 145
Colombia 146
Kenya 147
Guatemala 148
Guatemala 149
Colombia 150
Colombia 151
Kenya 152
Colombia 153
Costa Rica 154
Colombia 155
Brazil 156
Brazil 157
Costa Rica 158
Uganda 159
China 160
Costa Rica 161
Colombia 162
China 163
Guatemala 164
Kenya 165
Mexico 166
Mexico 167
Guatemala 168
Brazil 169
Brazil 170
Costa Rica 171
Indonesia 172
Colombia 173
Colombia 174
Taiwan 175
United States (Hawaii) 176
Mexico 177
Ethiopia 178
Kenya 179
Honduras 180
Colombia 181
Honduras 182
Colombia 183
Colombia 184
Colombia 185
Mexico 186
Brazil 187
Brazil 188
Ethiopia 189
Guatemala 190
Taiwan 191
Thailand 192
Colombia 193
Guatemala 194
Guatemala 195
China 196
Colombia 197
Colombia 198
Colombia 199
Colombia 200
Tanzania, United Republic Of 201
Tanzania, United Republic Of 202
Guatemala 203
Colombia 204
United States (Hawaii) 205
Mexico 206
Mexico 207
Mexico 208
Uganda 209
Guatemala 210
Colombia 211
Costa Rica 212
Guatemala 213
Guatemala 214
Guatemala 215
Colombia 216
Nicaragua 217
Brazil 218
Costa Rica 219
Ethiopia 220
Tanzania, United Republic Of 221
Colombia 222
Guatemala 223
Kenya 224
Brazil 225
Guatemala 226
El Salvador 227
Colombia 228
Guatemala 229
Uganda 230
Indonesia 231
Colombia 232
Taiwan 233
Guatemala 234
Colombia 235
Guatemala 236
United States (Hawaii) 237
Mexico 238
Ethiopia 239
Costa Rica 240
Ethiopia 241
Honduras 242
Guatemala 243
Colombia 244
Guatemala 245
Guatemala 246
Colombia 247
Colombia 248
Colombia 249
Ethiopia 250
Brazil 251
Colombia 252
Kenya 253
Thailand 254
Kenya 255
Uganda 256
Thailand 257
Brazil 258
Mexico 259
Thailand 260
Brazil 261
Taiwan 262
Colombia 263
Colombia 264
Taiwan 265
Colombia 266
Colombia 267
Colombia 268
Taiwan 269
Colombia 270
Mexico 271
Mexico 272
Mexico 273
Colombia 274
Colombia 275
Costa Rica 276
Guatemala 277
Taiwan 278
Brazil 279
Taiwan 280
Ethiopia 281
Brazil 282
Costa Rica 283
Guatemala 284
Brazil 285
Ecuador 286
Colombia 287
Guatemala 288
Mexico 289
Mexico 290
Brazil 291
Thailand 292
Thailand 293
Ethiopia 294
Kenya 295
Brazil 296
Colombia 297
Taiwan 298
Colombia 299
China 300
Colombia 301
Uganda 302
United States (Puerto Rico) 303
Colombia 304
Colombia 305
Colombia 306
Colombia 307
United States (Hawaii) 308
Mexico 309
Guatemala 310
Colombia 311
Colombia 312
United States (Hawaii) 313
Brazil 314
Kenya 315
Honduras 316
Nicaragua 317
Brazil 318
Taiwan 319
Costa Rica 320
Thailand 321
Colombia 322
Guatemala 323
Colombia 324
Colombia 325
Guatemala 326
Guatemala 327
Colombia 328
Guatemala 329
Guatemala 330
Mexico 331
Indonesia 332
Guatemala 333
United States (Hawaii) 334
Brazil 335
Guatemala 336
Colombia 337
China 338
Colombia 339
Mexico 340
Ethiopia 341
Uganda 342
Colombia 343
Colombia 344
Colombia 345
Taiwan 346
Colombia 347
Mexico 348
Colombia 349
Brazil 350
Colombia 351
Taiwan 352
Costa Rica 353
Colombia 354
Guatemala 355
Colombia 356
Tanzania, United Republic Of 357
Indonesia 358
Ethiopia 359
Colombia 360
Colombia 361
Guatemala 362
Colombia 363
Honduras 364
Colombia 365
Colombia 366
Mexico 367
Mexico 368
Mexico 369
Guatemala 370
Colombia 371
Guatemala 372
United States (Hawaii) 373
Indonesia 374
Colombia 375
Guatemala 376
Colombia 377
Costa Rica 378
Taiwan 379
Uganda 380
Thailand 381
El Salvador 382
Colombia 383
Brazil 384
Tanzania, United Republic Of 385
Colombia 386
Guatemala 387
Guatemala 388
Guatemala 389
United States (Hawaii) 390
Colombia 391
Colombia 392
United States (Hawaii) 393
Thailand 394
Mexico 395
Colombia 396
Colombia 397
Colombia 398
Brazil 399
Mexico 400
Colombia 401
Tanzania, United Republic Of 402
Mexico 403
Costa Rica 404
United States (Hawaii) 405
Costa Rica 406
Peru 407
Haiti 408
Colombia 409
Guatemala 410
United States (Hawaii) 411
Burundi 412
Colombia 413
United States (Hawaii) 414
United States (Hawaii) 415
Mexico 416
Costa Rica 417
Costa Rica 418
Guatemala 419
Uganda 420
Brazil 421
Colombia 422
Mexico 423
Taiwan 424
Taiwan 425
Colombia 426
Guatemala 427
Colombia 428
Mexico 429
United States (Hawaii) 430
Mexico 431
Mexico 432
Guatemala 433
Brazil 434
Colombia 435
Colombia 436
Colombia 437
Colombia 438
Colombia 439
Brazil 440
Guatemala 441
Tanzania, United Republic Of 442
Peru 443
Vietnam 444
Guatemala 445
Honduras 446
China 447
China 448
El Salvador 449
Guatemala 450
Guatemala 451
Kenya 452
Thailand 453
Tanzania, United Republic Of 454
Colombia 455
Uganda 456
Colombia 457
Honduras 458
Honduras 459
Guatemala 460
United States (Hawaii) 461
Tanzania, United Republic Of 462
Guatemala 463
Mexico 464
Mexico 465
Mexico 466
Colombia 467
Mexico 468
Colombia 469
Mexico 470
Brazil 471
Brazil 472
Guatemala 473
Brazil 474
Brazil 475
El Salvador 476
Ethiopia 477
Colombia 478
Colombia 479
Brazil 480
Brazil 481
Taiwan 482
Brazil 483
Brazil 484
Costa Rica 485
United States (Hawaii) 486
Taiwan 487
United States (Hawaii) 488
Mexico 489
United States (Hawaii) 490
United States (Hawaii) 491
Colombia 492
Colombia 493
Indonesia 494
Guatemala 495
Brazil 496
Brazil 497
Brazil 498
Uganda 499
Uganda 500
Colombia 501
Vietnam 502
Guatemala 503
Guatemala 504
Guatemala 505
Brazil 506
Taiwan 507
Uganda 508
United States (Puerto Rico) 509
Guatemala 510
Costa Rica 511
Brazil 512
Colombia 513
Colombia 514
Colombia 515
Colombia 516
Colombia 517
Mexico 518
Mexico 519
Mexico 520
Colombia 521
Colombia 522
Colombia 523
Guatemala 524
Colombia 525
Thailand 526
Colombia 527
United States (Hawaii) 528
United States (Hawaii) 529
Colombia 530
Nicaragua 531
Thailand 532
Brazil 533
El Salvador 534
Colombia 535
Taiwan 536
Ethiopia 537
Taiwan 538
Philippines 539
Philippines 540
Mexico 541
Mexico 542
Brazil 543
Uganda 544
Uganda 545
Guatemala 546
Guatemala 547
Guatemala 548
Colombia 549
Colombia 550
Guatemala 551
Colombia 552
Mexico 553
Vietnam 554
Mexico 555
United States (Hawaii) 556
Colombia 557
Thailand 558
Kenya 559
Guatemala 560
Brazil 561
El Salvador 562
Rwanda 563
Vietnam 564
Guatemala 565
Brazil 566
Colombia 567
United States 568
Guatemala 569
Colombia 570
Colombia 571
Tanzania, United Republic Of 572
Mexico 573
Mexico 574
Guatemala 575
Mexico 576
El Salvador 577
Guatemala 578
Guatemala 579
Guatemala 580
Guatemala 581
Guatemala 582
Indonesia 583
Guatemala 584
Taiwan 585
El Salvador 586
Costa Rica 587
Honduras 588
Brazil 589
China 590
China 591
Colombia 592
Malawi 593
Guatemala 594
Colombia 595
United States (Hawaii) 596
United States (Hawaii) 597
Colombia 598
Mexico 599
Mexico 600
Mexico 601
Colombia 602
Colombia 603
United States (Hawaii) 604
Panama 605
United States (Hawaii) 606
Brazil 607
Brazil 608
Laos 609
El Salvador 610
Mexico 611
Colombia 612
Brazil 613
Brazil 614
Tanzania, United Republic Of 615
Tanzania, United Republic Of 616
Taiwan 617
Mexico 618
Uganda 619
Taiwan 620
Thailand 621
Colombia 622
El Salvador 623
Guatemala 624
Thailand 625
Mexico 626
Mexico 627
Colombia 628
United States (Hawaii) 629
Mexico 630
Colombia 631
Colombia 632
Guatemala 633
Taiwan 634
Brazil 635
Taiwan 636
Brazil 637
Indonesia 638
Thailand 639
Thailand 640
Tanzania, United Republic Of 641
Uganda 642
Costa Rica 643
Mexico 644
Guatemala 645
Colombia 646
Colombia 647
Colombia 648
Mexico 649
Mexico 650
Colombia 651
Brazil 652
Brazil 653
Indonesia 654
Honduras 655
Guatemala 656
Thailand 657
Thailand 658
Tanzania, United Republic Of 659
Tanzania, United Republic Of 660
Mexico 661
Brazil 662
Guatemala 663
Colombia 664
Guatemala 665
Mexico 666
Mexico 667
Mexico 668
Guatemala 669
Brazil 670
Colombia 671
United States (Hawaii) 672
Guatemala 673
Honduras 674
Guatemala 675
Guatemala 676
Guatemala 677
Guatemala 678
Colombia 679
China 680
Brazil 681
Tanzania, United Republic Of 682
Brazil 683
Guatemala 684
Mexico 685
Brazil 686
Peru 687
Brazil 688
Mexico 689
Honduras 690
Colombia 691
Mexico 692
Mexico 693
Mexico 694
Mexico 695
Mexico 696
Mexico 697
Mexico 698
Mexico 699
Mexico 700
Colombia 701
Brazil 702
Colombia 703
Colombia 704
Honduras 705
Brazil 706
Brazil 707
Brazil 708
Costa Rica 709
Costa Rica 710
China 711
Brazil 712
Brazil 713
Guatemala 714
Malawi 715
Brazil 716
Guatemala 717
Mexico 718
Colombia 719
Taiwan 720
Taiwan 721
Guatemala 722
Colombia 723
Mexico 724
Costa Rica 725
Guatemala 726
Mexico 727
Mexico 728
Guatemala 729
Brazil 730
Mexico 731
Brazil 732
Colombia 733
Brazil 734
Taiwan 735
Guatemala 736
Brazil 737
El Salvador 738
Honduras 739
Malawi 740
Brazil 741
Taiwan 742
Mexico 743
United States (Hawaii) 744
Mexico 745
Guatemala 746
Mexico 747
Mexico 748
El Salvador 749
Mexico 750
Mexico 751
Colombia 752
Colombia 753
Brazil 754
Colombia 755
Brazil 756
Honduras 757
Nicaragua 758
Tanzania, United Republic Of 759
Tanzania, United Republic Of 760
Brazil 761
Thailand 762
Honduras 763
Guatemala 764
Brazil 765
Tanzania, United Republic Of 766
Mexico 767
Mexico 768
Taiwan 769
Taiwan 770
Colombia 771
Mexico 772
Guatemala 773
Mexico 774
Mexico 775
Colombia 776
Indonesia 777
Colombia 778
Brazil 779
Brazil 780
Costa Rica 781
Tanzania, United Republic Of 782
Tanzania, United Republic Of 783
Colombia 784
Costa Rica 785
United States (Hawaii) 786
Mexico 787
Mexico 788
Mexico 789
Vietnam 790
Mexico 791
United States (Hawaii) 792
Colombia 793
Honduras 794
Honduras 795
Brazil 796
Tanzania, United Republic Of 797
Laos 798
Tanzania, United Republic Of 799
Malawi 800
Taiwan 801
Thailand 802
Costa Rica 803
Honduras 804
Colombia 805
Taiwan 806
Brazil 807
Mexico 808
Brazil 809
Brazil 810
Guatemala 811
Brazil 812
Guatemala 813
Colombia 814
Guatemala 815
Guatemala

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]

816
Honduras 817
Brazil 818
El Salvador 819
Guatemala 820
Tanzania, United Republic Of 821
Nicaragua 822
Zambia 823
Honduras 824
Taiwan 825
Mexico 826
Mexico 827
Mexico 828
Mexico 829
Mexico 830
Brazil 831
Colombia 832
Guatemala 833
Costa Rica 834
Brazil 835
Indonesia 836
Guatemala 837
Brazil 838
Brazil 839
Myanmar 840
Mexico 841
Honduras 842
Costa Rica 843
Taiwan 844
Indonesia 845
Malawi 846
Brazil 847
Honduras 848
Mexico 849
Colombia 850
United States (Hawaii) 851
Brazil 852
Guatemala 853
Mexico 854
Mexico 855
Brazil 856
Colombia 857
United States (Hawaii) 858
Guatemala 859
Vietnam 860
Tanzania, United Republic Of 861
Brazil 862
Mexico 863
Mexico 864
Mexico 865
Mexico 866
Mexico 867
Colombia 868
Colombia 869
Brazil 870
Guatemala 871
Guatemala 872
Honduras 873
Tanzania, United Republic Of 874
Nicaragua 875
Colombia 876
Brazil 877
Tanzania, United Republic Of 878
Tanzania, United Republic Of 879
Brazil 880
Indonesia 881
Honduras 882
Costa Rica 883
Mexico 884
Taiwan 885
Taiwan 886
Mexico 887
Guatemala 888
Mexico 889
Mexico 890
Mexico 891
Mexico 892
Mexico 893
United States (Hawaii) 894
Honduras 895
Guatemala 896
Taiwan 897
Costa Rica 898
Tanzania, United Republic Of 899
Malawi 900
Taiwan 901
Brazil 902
Guatemala 903
Mexico 904
Mexico 905
Mexico 906
Thailand 907
Thailand 908
Costa Rica 909
Guatemala 910
Nicaragua 911
Honduras 912
Guatemala 913
Taiwan 914
Myanmar 915
Costa Rica 916
Malawi 917
Guatemala 918
Taiwan 919
Brazil 920
Haiti 921
Taiwan 922
Mexico 923
Mexico 924
Mexico 925
Mexico 926
Mexico 927
Mexico 928
Indonesia 929
Brazil 930
Guatemala 931
Colombia 932
United States (Hawaii) 933
Mexico 934
Guatemala 935
Brazil 936
Honduras 937
Taiwan 938
Malawi 939
Brazil 940
Guatemala 941
Mexico 942
Peru 943
Guatemala 944
Mexico 945
Mexico 946
Colombia 947
Colombia 948
United States (Hawaii) 949
Colombia 950
Honduras 951
Mexico 952
Brazil 953
Honduras 954
Brazil 955
Philippines 956
Malawi 957
Honduras 958
Mexico 959
Mexico 960
Brazil 961
Taiwan 962
Brazil 963
Nicaragua 964
Honduras 965
Guatemala 966
Tanzania, United Republic Of 967
Taiwan 968
Guatemala 969
Mexico 970
Nicaragua 971
Tanzania, United Republic Of 972
Mexico 973
Costa Rica 974
Honduras 975
Thailand 976
Philippines 977
Tanzania, United Republic Of 978
Malawi 979
Costa Rica 980
Brazil 981
Mexico 982
Guatemala 983
Brazil 984
United States (Hawaii) 985
Ethiopia 986
Brazil 987
Nicaragua 988
United States 989
Tanzania, United Republic Of 990
Costa Rica 991
United States (Puerto Rico) 992
Mexico 993
Mexico 994
Mexico 995
Mexico 996
United States (Hawaii) 997
Brazil 998
El Salvador 999
Brazil 1000
Guatemala 1001
Colombia 1002
Guatemala 1003
Taiwan 1004
Honduras 1005
Brazil 1006
Tanzania, United Republic Of 1007
Uganda 1008
Taiwan 1009
Thailand 1010
Mexico 1011
Mexico 1012
Taiwan 1013
Guatemala 1014
Kenya 1015
Mexico 1016
Myanmar 1017
United States (Hawaii) 1018
Tanzania, United Republic Of 1019
Brazil 1020
Taiwan 1021
Brazil 1022
Nicaragua 1023
Guatemala 1024
Taiwan 1025
Taiwan 1026
Taiwan 1027
Mexico 1028
Thailand 1029
Laos 1030
Guatemala 1031
Mexico 1032
Mexico 1033
Mexico 1034
United States (Hawaii) 1035
Colombia 1036
Brazil 1037
Myanmar 1038
Guatemala 1039
Nicaragua 1040
Honduras 1041
Panama 1042
Honduras 1043
Honduras 1044
Costa Rica 1045
Mexico 1046
Haiti 1047
United States (Hawaii) 1048
Taiwan 1049
Indonesia 1050
Guatemala 1051
Costa Rica 1052
Malawi 1053
Mexico 1054
Colombia 1055
Guatemala 1056
Guatemala 1057
Guatemala 1058
Colombia 1059
Brazil 1060
Nicaragua 1061
Tanzania, United Republic Of 1062
Brazil 1063
Honduras 1064
Guatemala 1065
United States (Hawaii) 1066
Colombia 1067
Taiwan 1068
Guatemala 1069
Honduras 1070
Mauritius 1071
Brazil 1072
Myanmar 1073
Guatemala 1074
Brazil 1075
United States (Hawaii) 1076
Guatemala 1077
Mexico 1078
Honduras 1079
Taiwan 1080
El Salvador 1081
China 1082
Taiwan 1083
Mexico 1084
Mexico 1085
Burundi 1086
Tanzania, United Republic Of 1087
Tanzania, United Republic Of 1088
Taiwan 1089
Guatemala 1090
Mexico 1091
United States (Hawaii) 1092
Ethiopia 1093
Brazil 1094
Honduras 1095
Mexico 1096
Myanmar 1097
Myanmar 1098
Nicaragua 1099
United States (Hawaii) 1100
Colombia 1101
Taiwan 1102
Guatemala 1103
Mexico 1104
Vietnam 1105
Nicaragua 1106
Honduras 1107
Guatemala 1108
Mexico 1109
Mexico 1110
Mexico 1111
Guatemala 1112
United States (Hawaii) 1113
Brazil 1114
Taiwan 1115
Nicaragua 1116
Taiwan 1117
Taiwan 1118
Taiwan 1119
Mexico 1120
Mexico 1121
Nicaragua 1122
Myanmar 1123
Mexico 1124
Taiwan 1125
Thailand 1126
Mexico 1127
Mexico 1128
Ethiopia 1129
Colombia 1130
United States (Hawaii) 1131
Mexico 1132
Mexico 1133
Mexico 1134
Mexico 1135
Mexico 1136
Mexico 1137
United States (Hawaii) 1138
Kenya 1139
Guatemala 1140
Nicaragua 1141
Mexico 1142
United States (Hawaii) 1143
Guatemala 1144
Taiwan 1145
Taiwan 1146
Thailand 1147
Peru 1148
Costa Rica 1149
Mexico 1150
Mexico 1151
Mexico 1152
Mexico 1153
Mexico 1154
Guatemala 1155
Mexico 1156
Guatemala 1157
El Salvador 1158
Thailand 1159
Guatemala 1160
Mexico 1161
Mexico 1162
Mexico 1163
Thailand 1164
Mexico 1165
Mexico 1166
Colombia 1167
Guatemala 1168
Nicaragua 1169
Taiwan 1170
Colombia 1171
Mexico 1172
Mexico 1173
Guatemala 1174
Guatemala 1175
Mexico 1176
Cote d?Ivoire 1177
Colombia 1178
Mexico 1179
Mexico 1180
Guatemala 1181
Taiwan 1182
Mexico 1183
Guatemala 1184
Honduras 1185
Guatemala 1186
Guatemala 1187
Costa Rica 1188
Mexico 1189
Mexico 1190
Mexico 1191
Guatemala 1192
United States (Puerto Rico) 1193
Mexico 1194
Mexico 1195
Mexico 1196
nan 1197
Guatemala 1198
Honduras 1199
Peru 1200
Mexico 1201
Mexico 1202
Mexico 1203
Mexico 1204
Mexico 1205
Nicaragua 1206
United States (Hawaii) 1207
Guatemala 1208
Mexico 1209
Mexico 1210
Mexico 1211
China 1212
Mexico 1213
Nicaragua 1214
Nicaragua 1215
Guatemala 1216
Taiwan 1217
Mexico 1218
Mexico 1219
United States (Hawaii) 1220
Mexico 1221
Mexico 1222
Mexico 1223
Brazil 1224
Mexico 1225
United States (Hawaii) 1226
Guatemala 1227
Guatemala 1228
Mexico 1229
Guatemala 1230
United States (Hawaii) 1231
United States (Hawaii) 1232
Indonesia 1233
Mexico 1234
Taiwan 1235
Honduras 1236
United States (Hawaii) 1237
Guatemala 1238
China 1239
Guatemala 1240
Mexico 1241
Colombia 1242
Costa Rica 1243
Mexico 1244
Guatemala 1245
Nicaragua 1246
Brazil 1247
Guatemala 1248
Taiwan 1249
United States (Hawaii) 1250
Mexico 1251
Guatemala 1252
Brazil 1253
Guatemala 1254
Mexico 1255
Haiti 1256
United States (Hawaii) 1257
Mexico 1258
Peru 1259
India 1260
Mexico 1261
Guatemala 1262
Mexico 1263
Guatemala 1264
Guatemala 1265
United States (Hawaii) 1266
United States (Hawaii) 1267
Mexico 1268
Indonesia 1269
Mexico 1270
Honduras 1271
Philippines 1272
Brazil 1273
Guatemala 1274
Guatemala 1275
Mexico 1276
Mexico 1277
Mexico 1278
Mexico 1279
Mexico 1280
Mexico 1281
Mexico 1282
Guatemala 1283
Guatemala 1284
Mexico 1285
United States (Hawaii) 1286
Guatemala 1287
Mexico 1288
Mexico 1289
Mexico 1290
United States (Hawaii) 1291
Brazil 1292
Honduras 1293
Mexico 1294
Colombia 1295
United States (Hawaii) 1296
Haiti 1297
Costa Rica 1298
Mexico 1299
Mexico 1300
Mexico 1301
Brazil 1302
Honduras 1303
Honduras 1304
Honduras 1305
Mexico 1306
Haiti 1307
Nicaragua 1308
Guatemala 1309
Ethiopia 1310
Honduras 1311

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

In [186]:
arabica_df.head()

,quality_score,Owner,Country of Origin,Altitude,Region,In-Country Partner,Variety,Processing Method,Aroma,Flavor,...,Clean Cup,Sweetness,Cupper Points,Moisture,Category One Defects,Quakers,Color,Category Two Defects,year,Price
0,90.58,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/GOYO,METAD Agricultural Development plc,NaN,Washed / Wet,8.67,8.83,...,10.0,10.0,8.75,12 %,0 full defects,0.0,Green,0 full defects,2015,76.03
1,89.92,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/ALAKA,METAD Agricultural Development plc,Other,Washed / Wet,8.75,8.67,...,10.0,10.0,8.58,12 %,0 full defects,0.0,Green,1 full defects,2015,76.03
2,89.75,Grounds for Health Admin,Guatemala,1600 - 1800 m,NaN,Specialty Coffee Association,Bourbon,NaN,8.42,8.50,...,10.0,10.0,9.25,0 %,0 full defects,0.0,NaN,0 full defects,2010,144.77
3,89.00,Yidnekachew Dabessa,Ethiopia,1800-2200,Oromia,METAD Agricultural Development plc,NaN,Natural / Dry,8.17,8.58,...,10.0,10.0,8.67,11 %,0 full defects,0.0,Green,2 full defects,2015,76.03
4,88.83,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/BISHAN FUGU,METAD Agricultural Development plc,Other,Washed / Wet,8.25,8.50,...,10.0,10.0,8.58,12 %,0 full defects,0.0,Green,2 full defects,2015,76.03

In [187]:
arabica_df.tail()

,quality_score,Owner,Country of Origin,Altitude,Region,In-Country Partner,Variety,Processing Method,Aroma,Flavor,...,Clean Cup,Sweetness,Cupper Points,Moisture,Category One Defects,Quakers,Color,Category Two Defects,year,Price
1307,67.92,Myriam Kaplan-Pasternak,Haiti,~350m,"Department d'Artibonite , Haiti",Specialty Coffee Association,Typica,Natural / Dry,6.75,6.58,...,6.00,6.00,6.42,14 %,8 full defects,0.0,Blue-Green,16 full defects,2012,NaN
1308,63.08,"Exportadora Atlantic, S.A.",Nicaragua,1100,jalapa,Instituto HondureÃ±o del CafÃ©,Caturra,Other,7.25,6.58,...,6.00,6.00,6.17,13 %,1 full defects,0.0,Green,5 full defects,2017,NaN
1309,59.83,Juan Luis Alvarado Romero,Guatemala,4650,NUEVO ORIENTE ALDEA EL LIMON,Asociacion Nacional Del CafÃ©,Catuai,Washed / Wet,7.50,6.67,...,1.33,1.33,6.67,10 %,0 full defects,0.0,Green,4 full defects,2012,165.98
1310,43.13,Ethiopia Commodity Exchange,Ethiopia,TEST,TEST,Ethiopia Commodity Exchange,NaN,NaN,6.00,6.00,...,0.00,0.00,6.00,0 %,0 full defects,0.0,NaN,0 full defects,2010,85.46
1311,0.00,Bismarck Castro,Honduras,1400,Comayagua,Instituto HondureÃ±o del CafÃ©,Caturra,NaN,0.00,0.00,...,0.00,0.00,0.00,12 %,0 full defects,0.0,Green,2 full defects,2017,90.77